<!-- START Footer content boxes -->
		[[switch?
		&get=`[[getResources? &resources =`11` &tpl=`FooterBoxNumberTpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &parents=`-1`]]`
		&c1=`2` &do1=`
		<div class="row">
			<div class="six columns">
				[[getResources? &resources =`11` &tpl=`FooterBox01Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &parents=`-1`]]
			</div>
			<div class="six columns">
				[[getResources? &resources =`11` &tpl=`FooterBox02Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &parents=`-1`]]
			</div>
		</div>`
		&c2=`3` &do2=`
		<div class="row">
			<div class="four columns">
				[[getResources? &resources =`11` &tpl=`FooterBox01Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &parents=`-1`]]
			</div>
			<div class="four columns">
				[[getResources? &resources =`11` &tpl=`FooterBox02Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &parents=`-1`]]
			</div>
			<div class="four columns">
				[[getResources? &resources =`11` &tpl=`FooterBox03Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &parents=`-1`]]
			</div>
		</div>`
		&c3=`4` &do3=`
		<div class="row">
			<div class="three columns">
				[[getResources? &resources =`11` &tpl=`FooterBox01Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &parents=`-1`]]
			</div>
			<div class="three columns">
				[[getResources? &resources =`11` &tpl=`FooterBox02Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &parents=`-1`]]
			</div>
			<div class="three columns">
				[[getResources? &resources =`11` &tpl=`FooterBox03Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &parents=`-1`]]
			</div>
			<div class="three columns">
				[[getResources? &resources =`11` &tpl=`FooterBox04Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &parents=`-1`]]
			</div>
		</div>`
		&default=`
		<div class="row">
			<div class="six columns">
				[[getResources? &resources =`11` &tpl=`FooterBox01Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &parents=`-1`]]
			</div>
			<div class="six columns">
				[[getResources? &resources =`11` &tpl=`FooterBox02Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &parents=`-1`]]
			</div>
		</div>
		`]]
		<!-- END Footer content boxes -->
	</div>
	<!-- container -->
	[[*page_lightbox:isnot=``:then=`
		<div id="page_lightbox" class="reveal-modal">
			[[*page_lightbox]]
			<a class="close-reveal-modal">&#215;</a>
		</div>
	`]]
	<!-- Included JS Files -->
	<script src="[[++site_url]]assets/templates/flexibility/javascripts/jquery.min.js"></script>
	<script src="[[++site_url]]assets/templates/flexibility/javascripts/jquery.fancybox.js"></script>
	<script src="[[++site_url]]assets/templates/flexibility/javascripts/foundation.js"></script>
	<script src="[[++site_url]]assets/templates/flexibility/javascripts/app.js"></script>
</body>
</html>