<!-- START Footer content boxes -->
		[[switch?
		&get=`[[getResources? &resources =`11` &tpl=`FooterBoxNumberTpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=``]]`
		&c1=`2` &do1=`
		<div class="row">
			<div class="six columns">
				[[getResources? &resources =`11` &tpl=`FooterBox01Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=``]]
			</div>
			<div class="six columns">
				[[getResources? &resources =`11` &tpl=`FooterBox02Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=``]]
			</div>
		</div>`
		&c2=`3` &do2=`
		<div class="row">
			<div class="four columns">
				[[getResources? &resources =`11` &tpl=`FooterBox01Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=``]]
			</div>
			<div class="four columns">
				[[getResources? &resources =`11` &tpl=`FooterBox02Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=``]]
			</div>
			<div class="four columns">
				[[getResources? &resources =`11` &tpl=`FooterBox03Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=``]]
			</div>
		</div>`
		&c3=`4` &do3=`
		<div class="row">
			<div class="three columns">
				[[getResources? &resources =`11` &tpl=`FooterBox01Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=``]]
			</div>
			<div class="three columns">
				[[getResources? &resources =`11` &tpl=`FooterBox02Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=``]]
			</div>
			<div class="three columns">
				[[getResources? &resources =`11` &tpl=`FooterBox03Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=``]]
			</div>
			<div class="three columns">
				[[getResources? &resources =`11` &tpl=`FooterBox04Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=``]]
			</div>
		</div>`
		&default=`
		<div class="row">
			<div class="six columns">
				[[getResources? &resources =`11` &tpl=`FooterBox01Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=``]]
			</div>
			<div class="six columns">
				[[getResources? &resources =`11` &tpl=`FooterBox02Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=``]]
			</div>
		</div>
		`]]
		<!-- END Footer content boxes -->
	</div>
	<!-- container -->
	[[*page_lightbox:isnot=``:then=`
		<div id="page_lightbox" class="reveal-modal">
			[[*page_lightbox]]
			<a class="close-reveal-modal">&#215;</a>
		</div>
	`]]
	<!-- Included JS Files -->
	<script src="[[++site_url]]assets/templates/flexibility/javascripts/foundation.js"></script>
	<script src="[[++site_url]]assets/templates/flexibility/javascripts/app.js"></script>
	<script src="[[++site_url]]assets/templates/flexibility/javascripts/respond.src.js"></script>
	<script type="text/javascript">
	$(window).load(function() {
		$('#slider').orbit({
			animation: 'fade',                  // fade, horizontal-slide, vertical-slide, horizontal-push
			animationSpeed: 800,                // how fast animtions are
			timer: true,                        // true or false to have the timer
			advanceSpeed: 4000,                 // if timer is enabled, time between transitions 
			pauseOnHover: false,                // if you hover pauses the slider
		});
	});
	</script>
</body>
</html>