<!-- START Footer content boxes -->
  [[switch?
  &get=`[[getResources? &resources =`11` &tpl=`FooterBoxNumberTpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &parents=`-1`]]`
  &c1=`2` &do1=`
  <div class="row">
    <div class="six columns">
      [[getResources? &resources =`11` &tpl=`FooterBox01Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &parents=`-1`]]
    </div>
    <div class="six columns">
      [[getResources? &resources =`11` &tpl=`FooterBox02Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &parents=`-1`]]
    </div>
  </div>`
  &c2=`3` &do2=`
  <div class="row">
    <div class="four columns">
      [[getResources? &resources =`11` &tpl=`FooterBox01Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &parents=`-1`]]
    </div>
    <div class="four columns">
      [[getResources? &resources =`11` &tpl=`FooterBox02Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &parents=`-1`]]
    </div>
    <div class="four columns">
      [[getResources? &resources =`11` &tpl=`FooterBox03Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &parents=`-1`]]
    </div>
  </div>`
  &c3=`4` &do3=`
  <div class="row">
    <div class="three columns">
      [[getResources? &resources =`11` &tpl=`FooterBox01Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &parents=`-1`]]
    </div>
    <div class="three columns">
      [[getResources? &resources =`11` &tpl=`FooterBox02Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &parents=`-1`]]
    </div>
    <div class="three columns">
      [[getResources? &resources =`11` &tpl=`FooterBox03Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &parents=`-1`]]
    </div>
    <div class="three columns">
      [[getResources? &resources =`11` &tpl=`FooterBox04Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &parents=`-1`]]
    </div>
  </div>`
  &default=`
  <div class="row">
    <div class="six columns">
      [[getResources? &resources =`11` &tpl=`FooterBox01Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &parents=`-1`]]
    </div>
    <div class="six columns">
      [[getResources? &resources =`11` &tpl=`FooterBox02Tpl` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &parents=`-1`]]
    </div>
  </div>
  `]]
  <!-- END Footer content boxes -->
  [[*page_lightbox:isnot=``:then=`
    <div id="page_lightbox" class="reveal-modal">
      [[*page_lightbox]]
      <a class="close-reveal-modal">&#215;</a>
    </div>
  `:else=`
  `]]
  <!-- Included JS Files (Uncompressed) These are all in the foundation.min.js file... -->
  <!--
  <script src="assets/templates/flexibility/javascripts/jquery.js"></script>
  <script src="assets/templates/flexibility/javascripts/jquery.foundation.mediaQueryToggle.js"></script>
  <script src="assets/templates/flexibility/javascripts/jquery.foundation.forms.js"></script>
  <script src="assets/templates/flexibility/javascripts/jquery.foundation.reveal.js"></script>
  <script src="assets/templates/flexibility/javascripts/jquery.foundation.orbit.js"></script>
  <script src="assets/templates/flexibility/javascripts/jquery.foundation.navigation.js"></script>
  <script src="assets/templates/flexibility/javascripts/jquery.foundation.buttons.js"></script>
  <script src="assets/templates/flexibility/javascripts/jquery.foundation.tabs.js"></script>
  <script src="assets/templates/flexibility/javascripts/jquery.foundation.tooltips.js"></script>
  <script src="assets/templates/flexibility/javascripts/jquery.foundation.accordion.js"></script>
  <script src="assets/templates/flexibility/javascripts/jquery.placeholder.js"></script>
  <script src="assets/templates/flexibility/javascripts/jquery.foundation.alerts.js"></script>
  <script src="assets/templates/flexibility/javascripts/jquery.foundation.topbar.js"></script>
  <script src="assets/templates/flexibility/javascripts/jquery.foundation.joyride.js"></script>
  <script src="assets/templates/flexibility/javascripts/jquery.foundation.clearing.js"></script>
  <script src="assets/templates/flexibility/javascripts/jquery.foundation.magellan.js"></script>
  -->
  <script src="assets/templates/flexibility/javascripts/jquery.js"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="assets/templates/flexibility/javascripts/foundation.min.js"></script>
  <script src="assets/templates/flexibility/javascripts/jquery.fancybox.pack.js"></script>
  <script src="assets/templates/flexibility/javascripts/jquery.fancybox-buttons.js"></script>
  <script src="assets/templates/flexibility/javascripts/jquery.fancybox-media.js"></script>
  <script src="assets/templates/flexibility/javascripts/jquery.fancybox-thumbs.js"></script>
  <script src="assets/templates/flexibility/javascripts/app.js"></script>
  <script src="assets/templates/flexibility/javascripts/flexibility.js"></script>
</body>
</html>