[[$flexibility_header]]
  <!-- START Optional slider -->
  [[switch?
  &get=`[[*optional_slider]]`
  &c1=`yes`
  &do1=`
  <div class="row">
    <div class="twelve columns">
      <div id="slider">
        [[getImageList? &tvname=`multiItemsGrid` &docid=`11` &tpl=`slideTpl`]]
      </div>
    </div>
  </div>
  `&default=``]]
  <!-- END Optional slider -->
  <div class="row">
    <div class="twelve columns">
      <!-- START Content and optional sidebar -->
      [[*sidebar:isnot=``:then=`
      <div class="row">
        <div class="eight columns">
      `:else=`
      `]]
      [[*content]]
      <!-- START Optional content -->
      [[If? &subject=`[[*page_lightbox]]` &operator=`notempty` &then=`<p>[[$page_lightbox_trigger]]</p>`]]
      [[If? &subject=`[[*optional_gallery]]` &operator=`EQ` &operand=`yes` &then=`[[$page_gallery]]`]]
      [[If? &subject=`[[*optional_contactform]]` &operator=`EQ` &operand=`yes` &then=`[[$contactform]]`]]
      <!-- END  Optional content -->
      [[*sidebar:isnot=``:then=`
        </div>
        <div class="four columns">
          [[*sidebar]]
        </div>
      </div>
      `:else=`
      `]]
      <!-- END Content and optional sidebar -->
    </div>
  </div>
  <div class="row">
    <div class="three columns">
      [[*page_box_01]]
    </div>
    <div class="three columns">
      [[*page_box_02]]
    </div>
    <div class="three columns">
      [[*page_box_03]]
    </div>
    <div class="three columns">
      [[*page_box_04]]
    </div>
  </div>
  <!-- END  Optional content boxes -->
[[$flexibility_footer]]